<div id="wut" class="foo bar baz">
    {{#random-thing class="foo bar baz"}}
        <div class="bar">
            <button>Click Me</button>
            <img src="foo">
            <span class="button">Hold Me</span>
        </div>
        <button>Press Me</button>
    {{/random-thing}}
</div>